<div class="container">
  <div class="weather">
    <h1>{{ title | titlecase }}</h1>
    <input
      class="input"
      type="text"
      placeholder="try 'Churu'"
      (input)="setCity($event)"
      (keyup.enter)="checkWeather()"
    />
    <button class="btn" (click)="checkWeather()">Check Weather</button>
    <p>{{ displayCity | titlecase }}</p>
    <p class="region-country">{{ displayRegionCountry | uppercase }}</p>
    <img src="{{ image }}" alt="" />
    <p>{{ this.temp_c }}</p>
    <p>{{ this.windspeed }}</p>
    <p>{{ this.humidity }}</p>
  </div>
</div>
